<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<head>
    <title>AMAZin BOOK STORE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <h1><a href="/">AMAZin BOOK STORE</a></h1>
    <div id="searchBar">
        <form action="#" th:action="@{/searchByTitle}" method="post">
            <input type="text" id="title" name="title">
            <input type="submit" value="Search By Title">
        </form>
            <form action="#" th:action="@{/searchByAuthor}" method="post">
            <input type="text" id="author" name="author">
            <input type="submit" value="Search By Author">
        </form>
        <button onclick="location.href='/addbook'" type="button">
         Add a new book</button>
    </div>
    <p>Currently Carrying</p>

    <div th:if="books == null">
        <p>DATABASE Refused To Connect</p>
    </div>

    <table th:id="inventory">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price ($)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book: ${books}">
                <td><b><a th:text="${book.title}" th:href="@{/viewbook(bookID=${book.id})}"></a></b></td>
                <td th:text="${book.author}"/>
                <td th:text="${book.price}"/>
            </tr>
        </tbody>
    </table>


    </body>
</html>