<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bookStoreJS.js"></script>

<head>
    <title>AMAZin BOOK STORE</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<h1><a href="/">AMAZin BOOK STORE</a></h1>
<div id="searchBar">
    <form action="#" method="post" th:action="@{/searchByTitle}">
        <input id="title" name="title" type="text">
        <input type="submit" value="Search By Title">
    </form>
    <form action="#" method="post" th:action="@{/searchByAuthor}">
        <input id="author" name="author" type="text">
        <input type="submit" value="Search By Author">
    </form>
</div>
<div id="utility">
    <button class="login" id=logInButton>Log In</button>
</div>
<div id="clear"></div>
<p>Cart</p>
<div>
    <button class="purchase">Purchase</button>
</div>
<div th:if="books == null">
    <p>DATABASE Refused To Connect</p>
</div>

<table th:id="inventory">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price ($)</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td><b><a th:href="@{/viewbook(bookID=${book.id})}" th:text="${book.title}"></a></b></td>
        <td th:text="${book.author}"/>
        <td th:text="${book.price}"/>
        <td><select>
            <option th:each="i: ${#numbers.sequence(1, book.quantity)}" th:selected="${i==1}" th:text="${i}"
                    th:value="${i}"></option>
        </select>
        </td>
        <td>
            <button class="removeBook" th:id="${book.id}">Remove</button>
        </td>
    </tr>
    </tbody>
</table>
<div id="loginPopup">
    <div class="form-popup" id="popupForm">
        <form class="form-container">
            <h2>Please Log in</h2>
            <label id="placeholder"></label>
            <label for="username">
                <strong>Username</strong>
            </label>
            <input id="username" name="username" placeholder="Your Username" required type="text">
            <label for="psw">
                <strong>Password</strong>
            </label>
            <input id="psw" name="psw" placeholder="Your Password" required type="password">
            <button class="loginSubmit" type="button">Log In</button>
            <button class="loginCancel" type="button">Close</button>
        </form>
    </div>
</div>
</body>
</html>