<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bookStoreJS.js"></script>

<head>
    <title>AMAZin BOOK STORE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <h1><a href="/">AMAZin BOOK STORE</a></h1>
    <div id="searchBar">
        <form action="#" th:action="@{/searchByTitle}" method="post">
            <input type="text" id="title" name="title">
            <input type="submit" value="Search By Title">
        </form>
            <form action="#" th:action="@{/searchByAuthor}" method="post">
            <input type="text" id="author" name="author">
            <input type="submit" value="Search By Author">
        </form>
    </div>
    <div id="utility">
    	<button class="logInButton">Log In</button>
    </div>
    <div id="clear"></div>
	<p>Cart</p>
    <div>
    	<button class="purchase">Purchase</button>
    </div>
    <div th:if="books == null">
        <p>DATABASE Refused To Connect</p>
    </div>

    <table th:id="inventory">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price ($)</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book: ${books}">
                <td><b><a th:text="${book.title}" th:href="@{/viewbook(bookID=${book.id})}"></a></b></td>
                <td th:text="${book.author}"/>
                <td th:text="${book.price}"/>
				<td><select>
				    <option th:each="i: ${#numbers.sequence(0, book.quantity)}" th:value="${i}" th:text="${i}" th:selected="${i==1}"></option>
					</select>
				</td>
                <td><button class="removeBook" th:id="${book.id}">Remove</button></td>
            </tr>
        </tbody>
    </table>
	<div id="loginPopup">
      	<div class="form-popup" id="popupForm">
        	<form action="/action_page.php" class="form-container">
          		<h2>Please Log in</h2>
        		<label for="username">
        			<strong>Username</strong>
        		</label>
        		<input type="text" id="username" placeholder="Your Username" name="username" required>
        		<label for="psw">
        			<strong>Password</strong>
        		</label>
        		<input type="password" id="psw" placeholder="Your Password" name="psw" required>
        		<button type="submit" class="loginSubmit">Log in</button>
        		<button type="button" class="loginCancel">Close</button>
        	</form>
      	</div>
	</div>
    </body>
</html>