<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bookStoreJS.js"></script>

<head>
    <title>AMAZin BOOK STORE</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<h1><a href="/">AMAZin BOOK STORE</a></h1>
<div id="searchBar">
    <form action="#" method="post" th:action="@{/public/searchByTitle}">
        <input id="title" name="title" type="text">
        <input type="submit" value="Search By Title">
    </form>
    <form action="#" method="post" th:action="@{/public/searchByAuthor}">
        <input id="author" name="author" type="text">
        <input type="submit" value="Search By Author">
    </form>
</div>
<div id="utility">
    <button class="login" id=logInButton>Log In</button>
    <button onclick="signup()">Sign Up</button>
    <button id="viewCart">View Cart</button>
    <button id="viewPurchaseHistory">View Purchase History</button>
</div>
<div id="clear"></div>
<div id="clear"></div>

<p>Purchase History</p>
<p>Store Receipt #: <span th:text="${receipt.id}"></span></p>
<p>Date of Purchase: <span th:text="${receipt.date}"></span></p>
<p>Price: $<span th:text="${receipt.total}"></span></p>

<div th:if="books == null">
    <p>DATABASE Refused To Connect</p>
</div>

<table th:id="inventory">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price Paid($)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${receipt.items}">
        <td><b><a th:href="@{/public/viewbook(bookID=${book.id})}" th:text="${book.title}"></a></b></td>
        <td th:text="${book.author}"/>
        <td th:text="${book.price}"/>
    </tr>
    </tbody>
</table>
</body>
<html>
